{% extends 'main/layout.html' %}
{% block container %}
    <main class="main">
        <div class="container">
            <h1 class="logo"><a href="/">E-Mentor</a></h1>
            <div class="content">
                <h2 class="head">Образовательная онлайн-платформа</h2>
                <div class="description">Курсы и видео-лекции по дизайну, копирайтингу,
                    SMM, таргету и многим другим направлениям
                </div>
                <button class="btn">Все направления</button>
            </div>
            <div class="img_1">Картинка не загружена</div>
            <div class="img_2">Картинка не загружена</div>
            <ul class="about_contact">
                <li class="_facebook"></li>
                <li class="_vk"></li>
                <li class="_instagram"></li>
            </ul>
            <span class="scroll">Листайте вниз --></span>
        </div>
    </main>
    <div class="numbers">
        <div class="container">
            <div class="card">
                <div class="number">
                    100+
                </div>
                <span class="description">теоретических и практических курсов для разного уровня</span>
            </div>
            <div class="card">
                <div class="number">
                    100+
                </div>
                <span class="description">теоретических и практических курсов для разного уровня</span>
            </div>
            <div class="card">
                <div class="number">
                    100+
                </div>
                <span class="description">теоретических и практических курсов для разного уровня</span>
            </div>
            <div class="card">
                <div class="number">
                    100+
                </div>
                <span class="description">теоретических и практических курсов для разного уровня</span>
            </div>
        </div>
    </div>
    <div class="teachers">
        <div class="container">
            <div class="text">
                <div class="head">Учитесь у лучших</div>
                <div class="description">Наши преподаватели – профессионалы, которые добились успеха в своей области.
                    Лид-дизайнеры известных студий, маркетологи крупнейших компаний, редакторы популярных медиа:
                    получайте опыт из первых рук, в любое время.
                    Кураторы курсов – наши лучшие выпускники, будут помогать и поддерживать вас на протяжении всего
                    обучения.
                </div>
                <button class="btn">Все преподаватели</button>
            </div>
            <div class="img">
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
                <div class="card-teacher">
                    <div class="image"></div>
                    <div class="description">Катя, ведущий дизайнер TailGroup</div>
                </div>
            </div>
        </div>
    </div>
    <div class="format">
        <div class="container">
            <div class="img">
            </div>
            <div class="text">
                <div class="head">Выбирайте свой формат обучения</div>
                <div class="description">Смотрите видео-лекции в удобное для вас время, обучайтесь на тренажере,
                    участвуйте в интенсивных воркшопах
                    с командой или проходите курс с гибким расписанием.
                    На нашей платформе каждый найдет подходящий формат.
                </div>
                <div class="btn">Все курсы</div>
            </div>

        </div>
    </div>
    <div class="courses">
        <div class="container">
            <div class="head">Популярные курсы</div>
            <div class="card-view">
                <div class="card">
                    <div class="img"></div>
                    <div class="description">Motion design</div>
                </div>
                <div class="card">
                    <div class="img"></div>
                    <div class="description">Motion design</div>
                </div>
                <div class="card">
                    <div class="img"></div>
                    <div class="description">Motion design</div>
                </div>
                <div class="card">
                    <div class="img"></div>
                    <div class="description">Motion design</div>
                </div>
            </div>
            <button class="btn">Все курсы</button>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <ul class="title">
                <li class="head">E-Mentor</li>
                <li class="description">Образовательная онлайн-платформа для развития и тренировки навыков
                    в сфере информационных технологий
                </li>
                <li class="contacts">
                    <div class="facebook"></div>
                    <div class="vk"></div>
                    <div class="instagramm"></div>
                </li>
            </ul>
            <ul class="content">
                <li class="title">Обучение</li>
                <li>Курсы</li>
                <li>Вебинары</li>
                <li>Тренажеры</li>
                <li>Воркшопы</li>
            </ul>
            <ul class="content">
                <li class="title">О нас</li>
                <li>О платформе</li>
                <li>Преподаватели</li>
                <li>Тарифы</li>
                <li>Отзывы</li>
            </ul>
            <ul class="content">
                <li class="title">Контакты</li>
                <li>Связаться с нами</li>
                <li>Консультация</li>
                <li>Реквизиты</li>
                <li>Поддержка</li>
            </ul>
            <ul class="content">
                <li class="title">Контакты</li>
                <li>Курсы</li>
                <li>Вебинары</li>

            </ul>
        </div>
    </footer>
{% endblock %}
