.format{
    background-color: var(--green);
    height: 75vh;
    position: relative;
    display: flex;
}

.format .container{
    position: relative;
    /* top: 120px; */
    width: 80%;
    height: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.format .text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 35%;
}

.format .btn{
    padding: 20px 74px;
}

.format .img{
    background-color: var(--text-darck-color);
    width: 40%;
    border-radius: 0 120px 0 0;
}